.root {
  -fx-font-family: Arial;
}

AnchorPane {
  -fx-background-color: #1a1a1a;
}

VBox {
  -fx-spacing: 15;
}

VBox .label {
  -fx-min-height: 23px;
}

HBox .label {
  -fx-font-size: 18px;
}

.label {
  -fx-text-fill: rgba(184, 187, 188, 0.88);
  -fx-font-weight: bold;
}

.button {
  -fx-background-color: #03DAC5;
  -fx-text-fill: #121212;
  -fx-border-style: hidden;
  -fx-font-size: 13px;
  -fx-font-weight: bold;
}

.button:hover {
  -fx-background-color: #02A898;
}
