.root {
  -fx-font-family: Arial;
}

AnchorPane {
  -fx-background-color: #1a1a1a;
}

VBox {
  -fx-spacing: 15;
}

VBox .label {
  -fx-min-height: 25px;
}

HBox .label {
  -fx-font-size: 18px;
}

.label {
  -fx-text-fill: #eeeeee;
  -fx-font-weight: bold;
}

.button {
  -fx-background-color: #03DAC5;
  -fx-text-fill: #121212;
  -fx-border-style: hidden;
  -fx-font-size: 13px;
  -fx-font-weight: bold;
}

.button:hover {
  -fx-background-color: #02A898;
}

.date-picker:editable .label {
  -fx-text-fill: #121212;
}
.choice-box .label{
  -fx-text-fill: #000000;
}

.split-pane-divider {
  -fx-background-color: #4d4d4d;
}

.table-view:row-selection .placeholder {
  -fx-background-color: #1a1a1a;
}

.table-view .column-header-background .nested-column-header .table-column {
  -fx-font-size: 16px;
  -fx-background-color: #03DAC5;
  -fx-border-color: #02A898;
}
.table-view .nested-column-header .label {
  -fx-font-size: 16px;
  -fx-text-fill: #121212;
}

.text-field {
  -fx-background-color: #5e5e5e;
  -fx-text-fill: #eeeeee;
}

.tab-header-background {
  -fx-background-color: #222;
}
.tab {
  -fx-background-color: #03DAC5;
}
.tab:selected {
  -fx-background-color: #02A898;
}
/* Setting color of focused tab to transparent to remove tab highlighting */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
  -fx-border-color: transparent;
}

.text-area .scroll-pane:fitToWidth:fitToHeight .viewport .content{
  -fx-background-color: #eeeeee;
}
